[user]
	name = osgsm
	email = 50955473+osgsm@users.noreply.github.com

[core]
	excludesfile = /Users/osgsm/.gitignore_global

[alias]
	ad = add -u
	br = branch
	c = commit
	cm = commit -m
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
	pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
	rs = restore
	rss = restore --staged
	s = status -s
	sw = switch
	swc = switch -c
  undo = reset @~

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    minus-style = auto "#52272A"
    plus-style = syntax "#3C4437"

[delta "decorations"]
    file-decoration-style = none

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default


[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
